{
	"settings": {
		"import/resolver": {
			"alias": [
				[
					"@root",
					"./"
				],
				[
					"@src",
					"./src"
				],
				[
					"@seo",
					"./src/seo"
				],
				[
					"@query",
					"./src/query"
				],
				[
					"@layout",
					"./src/layout"
				],
				[
					"@components",
					"./src/components"
				],
				[
					"@modules",
					"./src/modules"
				],
				[
					"@assets",
					"./src/assets/images"
				],
				[
					"@graphic",
					"./src/assets"
				],
				[
					"@documents",
					"./src/assets/documents"
				],
				[
					"@widgets",
					"./src/widgets"
				],
				[
					"@storage",
					"./src/storage"
				],
				[
					"@services",
					"./src/services"
				],
				[
					"@constants",
					"./src/constants"
				],
				[
					"@hooks",
					"./src/hooks"
				],
				[
					"@utils",
					"./src/utils"
				]
			]
		}
	}
}
